@import './variables';

@mixin setBgColor($color, $colorHover, $outline: false) {
  @extend .btn-daruix;
  background-color: $color;
  border: 1px solid $color;
  &:hover{
    background-color: $colorHover;
    @if $outline{
      color: $outline;
    }
  }
}
