@import './variables';

@mixin setBgColor($color, $colorHover, $outline: false) {
  @extend .btn-daruix;
  background-color: $color;
  border: 1px solid $color;
  &:hover{
    background-color: $colorHover;
    @if $outline{
      color: $outline;
    } @else {
      color: $white;
    }
  }
}

@mixin checkboxColors($bgColor, $borderColor){
  ::ng-deep .mat-checkbox{
    &-checked.mat-accent, &-indeterminate.mat-accent{
      & .mat-checkbox-background{
        background-color: $bgColor!important;
      }
    }
    &-frame{
      border-color: $borderColor;
    }
  }
}

@mixin inputColors($inputColor){
  ::ng-deep .mat-form-field-appearance-outline{
    & .mat-form-field-outline-thick, &.mat-focused .mat-form-field-outline-thick, &.mat-focused .mat-form-field-label{
      color: $inputColor !important;
    }
  }
}
