@import './functions';


@mixin textStyle($size, $color, $weight, $transform, $isLink: false, $typeText, $isImportant: false){
    font-family: headingsType($typeText);
    @if $isLink{
        text-decoration: none;
    }
    @if $isImportant{
        font-size: calculateRem($size) !important;
        color: $color !important;
        font-weight: $weight !important;
        text-transform:  $transform !important;
    } @else{
        font-size: calculateRem($size);
        color: $color;
        font-weight: $weight;
        text-transform:  $transform;
    }
};

$bg-gray: #F1F1F1;
$bg-disabled: rgba(0,0,0, 0.08);
$text-black: #262123;
$white: #ffffff;
$base-blue: #144659;
$base-gray: #E1DCDC;
$base-red: #BF3535;
$base-dark-red: #8C2626;
$base-error: #DA6428FF;

$mobile: 430px;
$mqDesk: 1441px;

$fontText: 'Nunito';
$fontHeaders: 'Blinker';

$colors:(
  'text-base': $text-black,
  'base': $base-red,
  'hover': $base-dark-red,
  'disabled': $bg-disabled,
  'blue': $base-blue,
  'error': $base-error
);


@each $name, $color in $colors{
  .text-color-#{ $name } {
    color: $color !important
  }
}

@each $name, $color in $colors{
  .bg-color-#{ $name } {
    background-color: $color !important
  }
}


