@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Nunito:wght@200;400;600&display=swap');


/* Importing Bootstrap SCSS file. */
@import "../../../node_modules/bootstrap/scss/bootstrap";
/* CUSTOM SCSS FILES */
@import "base/variables";
@import "base/mixins";
@import "base/utils";

.ps__thumb-x, .ps__thumb-y {
    background-color: $base-gray!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito', sans-serif !important; }
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p, span, ul, li, a, input, select, textarea, label{
    font-family: 'Nunito', sans-serif !important;
}
